body {
  margin: 0;
  height: 100vh;
  font-family: League Spartan;

  display: flex;
  flex-direction: column;
}

main {
  margin: auto;

  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}